<%= form_tag user_wait_path, id: 'user-form', method: :post, remote: false do %>
    <input id="icon_1" name="icon" type="radio" value="1" checked="checked" />
    <img src="<%= asset_path('icon1.png') %>" width="100" height="100"/>
    <input id="icon_2" name="icon" type="radio" value="2" />
    <img src="<%= asset_path('icon2.png') %>" width="100" height="100"/>
    <input id="icon_3" name="icon" type="radio" value="3" />
    <img src="<%= asset_path('icon3.png') %>" width="100" height="100"/>
    <input id="icon_4" name="icon" type="radio" value="4" />
    <img src="<%= asset_path('icon4.png') %>" width="100" height="100"/>
    <input id="icon_5" name="icon" type="radio" value="5" />
    <img src="<%= asset_path('icon5.png') %>" width="100" height="100"/>
    <input id="icon_6" name="icon" type="radio" value="6" />
    <img src="<%= asset_path('icon6.png') %>" width="100" height="100"/>
    <label class="">Your name</label>
    <%= text_field_tag :name %>
    <%= hidden_field_tag :room, @room %>
    <input type="submit" value="Submit" class='btn btn-default' %> 
<% end %>
